# Gradle
.gradle/
build/

# Spring Boot
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE-specific
.idea/
*.iml

# Gradle Wrapper
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# Logs
*.log

# Compiled class file
*.class

# Maven
target/

# React
/node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# Miscellaneous
.DS_Store
